body {
    background: #121212;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

input, button {
    padding: 10px;
    margin: 5px;
    border-radius: 6px;
    border: none;
}

button {
    cursor: pointer;
}

.saldos {
    font-size: 20px;
    margin: 15px;
}

.btc-price-box {
    background: #111;
    border: 1px solid #222;
    padding: 15px;
    border-radius: 10px;
    max-width: 320px;
    margin: 10px auto;
    text-align: center;
}
.btc-price-box h3 {
    margin-bottom: 10px;
}
